body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  font-family: "Oxygen", sans-serif;
}

/***** BACKGROUND IMAGE *****/

.wrap {
  position: relative;
}

.wrap::before {
  content: " ";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0.6; */
  /* filter: grayscale(10%); */
  background-image: url("./Images/Background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  position: relative;
}

/***************************/

.bcg {
  background-image: url("./Images/Background2.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.error {
  color: red;
  margin: 0 0 14px 0;
}

#logo {
  margin: 8px;
}

.navBar .navBar-link {
  color: white;
}

.navBar .navBar-link:hover {
  text-decoration: underline;
  color: white;
}

.navBar #navBar-family {
  color: white;
  font-size: 22px;
  margin-left: 20%;
  margin-right: 0;
}

#login-page {
  margin: 8% 0 0 17%;
}

#login-page h1 {
  font-size: 65px;
}

#login-page #login-title {
  margin-bottom: 70px;
}

#login-page p {
  margin-top: 20px;
}

#login-box {
  background-color: rgba(246, 244, 242, 0.851);
  width: 33%;
  padding: 40px 40px 20px 40px;
}

.register {
  margin: 4% 0 0 15%;
}

.register .register-titles {
  width: 55%;
}

.register-titles h4 {
  color: #0080ff;
}

.register-box {
  background-color: rgba(246, 244, 242, 0.851);
  width: 50%;
  padding: 30px;
  margin-top: 2%;
}

.home-container {
  width: 70%;
  margin: 5% auto;
  padding: 10px;
}

.feed-form-box {
  background-color: white;
  border-radius: 12px;
}

.feed-form-box #form {
  /* margin: ; */
  padding: 15px 17px 5px 17px;
}

.post-card {
  background-color: white;
  border-radius: 12px;
  margin: 12px auto;
  padding: 15px 20px;
  font-size: 17px;
}

.feed-flex {
  display: flex;
  margin-bottom: 10px;
}

.post #post-title {
  /* display: inline-block; */
  margin-left: 10px;
  /* margin-right: 80%; */
}

.post.feed-span {
  float: right;
}

.post span {
  cursor: pointer;
  float: right;
  margin-left: 5px;
}

.post .feed-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #dfdddd;
  margin: 0;
}

.edit-post-form {
  margin: 20px 20px 20px 0;
}

.comment-card {
  background-color: #f0f0f0;
  font-size: 15px;
  border-radius: 20px;
  padding: 12px;
  margin: 5px auto;
}

.comment-card p {
  margin: 0;
}

.comment-flex {
  display: flex;
}

.comment #comment-title {
  display: inline-block;
  margin-left: 10px;

}

.comment span {
  float: right;
  cursor: pointer;
  font-size: 19px;
  margin-left: 5px;
}

.edit-comment span {
  float: right;
  cursor: pointer;
  margin: 0 0 8px;
  font-size: 20px;
}

.edit-comment-form {
  margin: 0 auto;
}

.comment .comment-avatar {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #dfdddd;
  margin: 0;
}

.profile {
  background-color: white;
  border-radius: 20px;
  margin: 8px auto;
  padding: 20px;
  /* font-size: 17px; */
}

.profile .flex {
  display: flex;
}

.profile #profile-title {
  display: inline-block;
}

.profile #profile-info {
  display: inline-block;
  margin: 15px 0 10px 40px;
}

.profile p {
  margin: 0;
}

.profile .profile-avatar {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #dfdddd;
  margin: 0;
}

.profile #edit-avatar {
  font-size: 13px;
  margin: 5px 0 0 30px;
  cursor: pointer;
  color: #7d7b7b;
}

.post-history {
  margin-top: 20px;
  position: inherit;
}

.popup-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.box {
  position: relative;
  width: 40%;
  min-height: 300px;
  background-color: white;
  opacity: 0.9;
  margin: 12% auto;
  padding: 20px;
  color: #0080ff;
}

.close_button {
  float: right;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.member-list {
  background-color: white;
  border-radius: 12px;
  margin: 12px auto;
  padding: 20px;
  width: 70%;
  height: 84%;
  left: 15%;
  top: 11%;
  position: fixed;
}

.member-list .member-card {
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  margin-left: 6px;
  margin-top: 2px;
  padding: 10px;
  width: 49%;
  display: inline-block;
}

.member-card p {
  cursor: pointer;
  margin: 0;
}

.invite-page {
  background-color: white;
  border-radius: 12px;
  margin: 12px auto;
  padding: 30px;
  width: 70%;
  height: 84%;
  left: 15%;
  top: 11%;
  position: fixed;
}

/* Fix background */
.invitee-signup {
  background-color: rgba(246, 244, 242, 0.851);
  /* border-radius: 12px; */
  padding: 40px;
  width: 37%;
  height: 84%;
  left: 17%;
  top: 12%;
  position: fixed;
}
